# Cheat sheet to for tricky pandas functions

In [5]:
import pandas as pd
from IPython.display import display

In [6]:
# Create data
df1 = pd.DataFrame({"a":[1.,3.,5.,2.],
                      "b":[4.,8.,3.,7.],
                      "c":[5.,45.,67.,34]})
display(df1)

     a    b     c
0  1.0  4.0   5.0
1  3.0  8.0  45.0
2  5.0  3.0  67.0
3  2.0  7.0  34.0

     a    b     c
0  4.0  2.0  11.0

## Sum and Mean of Data Frame
* To add all the columns in a data frame, use `df1.sum(x, axis=1)`
* The variable axis here is to indicate the direction of the operation.   
    * 0 represent rows, 1 represents columns

### Analogy 
* To sum with `axis=1` means you want to sum from left to right, i.e. jump from column to column 
* So, the `axis` argument tells pandas in which direction to *jump*
* If you want to add/get the mean of the rows, you need pandas to *jump* from row to row - so you set `axis=0`

In [7]:
# Add the columns, so you jump from col to col while adding
df1['a+b+c'] = df1.sum(axis=1) # sum across columns
display(df1)

     a    b     c  a+b+c
0  1.0  4.0   5.0   10.0
1  3.0  8.0  45.0   56.0
2  5.0  3.0  67.0   75.0
3  2.0  7.0  34.0   43.0

In [ ]:
# Add the rows, so you jump from row to row while adding
df1.loc['0+1+2+3', :] = df1.sum(axis=0)  # sum across rows 
display(df1)

In [ ]:
100*df1.div((df1['a+b+c']), axis=0) to match denomintaor index on numerator rows

In [ ]:
data2 = {"a":[4.],
         "b":[2.],
         "c":[11.]}